<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scu.xing.androidbaseapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextViewActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".ActivityLifeActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ContextMenuActivity" />
        <activity android:name=".ContextMenuzdyActivity" />
        <activity android:name=".SubMenuActivity" />
        <activity android:name=".DataCunchuActivity" />
        <activity android:name=".datasave.SharepreferenceActivity" />
        <activity android:name=".datasave.SqliteActivity" />
        <activity android:name=".datasave.ContentProviderActivity" />
        <activity android:name=".datasave.FileActivity" />
        <activity android:name=".datasave.SqliteHelperActivity" />
        <activity android:name=".GuangBoActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".SystemServiceActivity" />
        <activity android:name=".ShoushiActivity" />
        <activity android:name=".CehuaMenuActivity" />
        <activity android:name=".ListViewActivity" />


        <receiver android:name=".broadcst.BroadcastPutong1">
            <intent-filter
                android:priority="100">
                <action android:name="BC_One" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".broadcst.BroadcastPutong2">-->
            <!--<intent-filter-->
                <!--android:priority="200">-->
                <!--<action android:name="BC_One" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".broadcst.BroadcastYouxu1">
            <intent-filter>
                <action android:name="BC_Two" />
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcst.BroadcastYouxu2">
            <intent-filter>
                <action android:name="BC_Two" />
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcst.BroadcastAjax2">
            <intent-filter>
                <action android:name="BC_Three"></action>
            </intent-filter>
        </receiver>

        <service android:name=".service.MyStartService"></service>
        <service android:name=".service.MyBindService"></service>

    </application>

</manifest>